{% extends "base.html" %}
{%block style%}
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/agendamento.css">
    <script src="https://kit.fontawesome.com/705dcf970c.js" crossorigin="anonymous"></script>
{%endblock%}
{%block botao_inicio%}
    <ul><a href="/agendamento">Início</a></ul>
{%endblock%}
{% block autenticacao_menu %}
    <div class="perfil-menu">
        <button class="perfil-btn"><i class="fa-solid fa-circle-user"></i></button>
        <div class="opcoes_perfil">
            <a href="{{ url_for('alterar_senha.alterar_senha') }}">Redefinir Senha</a>
            <a href="{{ url_for('login.logout') }}">Sair</a>
            <form class="form-excluir" action="{{ url_for('login.excluir_conta') }}" method="POST" onsubmit="return confirm('ATENÇÃO: Tem certeza que deseja excluir sua conta? Você perderá todos os seus agendamentos e esta ação não pode ser desfeita.');">
                <button type="submit" class="btn-excluir">Excluir Conta</button>
            </form>        
        </div>
    </div>
{% endblock %}
{%block mobile%}
    <div class="perfil-menu-mobile">
        <input type="checkbox" id="perfil-check">
        <label for="perfil-check" id="perfil-btn-2"><i id= "user" class="fa-solid fa-circle-user"></i></label>
        <div class="opcoes_perfil-mobile">
            <a href="{{ url_for('alterar_senha.alterar_senha') }}">Redefinir Senha</a>
            <a href= "{{ url_for('login.logout') }}" >Sair</a>
            <form class="form-excluir" action="{{ url_for('login.excluir_conta') }}" method="POST" onsubmit="return confirm('ATENÇÃO: Tem certeza que deseja excluir sua conta? Você perderá todos os seus agendamentos e esta ação não pode ser desfeita.');">
                <button type="submit" class="btn-excluir">Excluir Conta</button>
            </form>
            
        </div>
    </div>
{%endblock%}
{% block autenticacao_hero %}
    <div class="agendamento">
        <button id="btn-abrir-agenda" 
            class="botao_agendamento"
            data-cal-namespace="overclock"
            data-cal-link="{{ link_cal }}"
            data-cal-config='{"name":"{{ nome }}", "email":"{{ email }}", "language":"pt-BR"}'
        >
            Agendar Horário
        </button>
        <p>*Cancelamento de hórarios via E-mail</p>
    </div>
{% endblock %}
{%block agendamento%}
    <div></div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/agendamento.js') }}"></script>
{% endblock %}