{% extends "base.html" %}
{%block style%}
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://kit.fontawesome.com/705dcf970c.js" crossorigin="anonymous"></script>
    <style>
        .perfil-menu {
            position: relative;
            display: inline-block;
            background-color: transparent;
        }
        .perfil-menu-mobile {
            display: none;
        }
        .opcoes_perfil {
            display: none;
            position: absolute;
            min-width: 160px;
            z-index: 1;
            border-radius: 1rem;
            background-color: #310202;
            right: 0;
        }
        .opcoes_perfil a, button, .opcoes_perfil-mobile a,button {
            display: block;
            /* min-width: 7rem; */
            padding: 1rem 1rem;
            text-align: right;
        }
        .opcoes_perfil-mobile {
            display: none;
        }
        .opcoes_perfil a:hover{
            color: #a07e28;
        }
        .opcoes_perfil button:hover{
            color: #a07e28;
        }
        .btn-excluir{
            background-color: transparent;
            color:white;
            font-size: 1rem;
            display: block;
            padding: 1rem 1rem;
            text-align: right;
            border: none;
            margin-left: auto;
        }
        .form-excluir {
            background-color: transparent;
            border: none;
            display: block;
            text-align: right;
        }
        .perfil-btn{
            color: white;
            cursor: pointer;
            border: none;
            background-color: transparent;
            margin-bottom: 0;
            margin-top: 0;
        }
        #perfil-check {
            display: none;
        }
        #perfil-btn-2 {
            display: none;
            cursor:pointer;
        }
        .perfil-menu:hover .opcoes_perfil{
            display: block;
        }
        @media (max-width: 768px) {
            .perfil-menu {
                display: none;
                margin-bottom: 0;
            }
            .perfil-menu-mobile {
                display: block;
                margin: 0;
            }
            #perfil-btn-2{
                display: block;
                color: white;
                font-size: 24px;
            }
            .opcoes_perfil-mobile {
                display: none;
                position: absolute;
                min-width: 160px;
                z-index: 1;
                border-radius: 1rem;
                background-color: #310202;
                right: 0;
                margin-right: 1rem;
            }
            .opcoes_perfil-mobile:checked {
                color:#a07e28;
            }
            #perfil-check:checked ~ .opcoes_perfil-mobile {
                display: block;
            }
        }
        .agendamento {
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 0px;
        }
        .agendamento p a {
            color: white;
        }
        .agendamento p a:hover {
        font-size: 1.5rem;
        }
        .botao_agendamento {
            border: 0.1rem solid #a07e28;
        }
        .agendamento .botao_agendamento a {
            color:#a07e28;
        }
        .agendamento button:hover {
            background-color:#a07e28;
        }
        .agendamento button:hover a {
            color: #4c0202;
        }
        #user {
            color: white;
        }
    </style>
{%endblock%}
{%block botao_inicio%}
    <ul><a href="/agendamento">Início</a></ul>
{%endblock%}
{% block autenticacao_menu %}
    <div class="perfil-menu">
        <button class="perfil-btn"><i class="fa-solid fa-circle-user"></i></button>
        <div class="opcoes_perfil">
            <a href="#">Redefinir Senha</a>
            <a href="{{ url_for('login.logout') }}">Sair</a>
            <form class="form-excluir" action="{{ url_for('login.excluir_conta') }}" method="POST" onsubmit="return confirm('ATENÇÃO: Tem certeza que deseja excluir sua conta? Você perderá todos os seus agendamentos e esta ação não pode ser desfeita.');">
                <button type="submit" class="btn-excluir">Excluir Conta</button>
            </form>        
        </div>
    </div>
{% endblock %}
{%block mobile%}
    <div class="perfil-menu-mobile">
        <input type="checkbox" id="perfil-check">
        <label for="perfil-check" id="perfil-btn-2"><i id= "user" class="fa-solid fa-circle-user"></i></label>
        <div class="opcoes_perfil-mobile">
            <a href="#">Redefinir Senha</a>
            <a href= "{{ url_for('login.logout') }}" >Sair</a>
            <form class="form-excluir" action="{{ url_for('login.excluir_conta') }}" method="POST" onsubmit="return confirm('ATENÇÃO: Tem certeza que deseja excluir sua conta? Você perderá todos os seus agendamentos e esta ação não pode ser desfeita.');">
                <button type="submit" class="btn-excluir">Excluir Conta</button>
            </form>
            
        </div>
    </div>
{%endblock%}
{% block autenticacao_hero %}
    <div class="agendamento">
        <button id="btn-abrir-agenda" 
            class="botao_agendamento"
            data-cal-namespace="overclock"
            data-cal-link="{{ link_cal }}"
            data-cal-config='{"name":"{{ nome }}", "email":"{{ email }}", "language":"pt-BR"}'
        >
            Agendar Horário
        </button>
        <p>*Cancelamento de hórarios via E-mail</p>
    </div>
{% endblock %}
{%block agendamento%}
    <div></div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/agendamento.js') }}"></script>
{% endblock %}