<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <title>{% block title %}OverClock Barbearia{% endblock %}</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  {% block extra_css %}{% endblock %}
  <link rel="icon" href="{{ url_for('static', filename='images/icone.png') }}" type="image/png">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=menu" />
</head>
<body>
  <header class="fixo">
    <nav>
      <a href="#"><img id="logo" src="{{ url_for('static', filename='images/LOGO.png') }}" alt="Logo-OverClock"></a>

          <div class="icone-celular">
            <input type="checkbox" id="menu-check">
            <label for="menu-check" id="burguer-btn"><span id="burguer" class="material-symbols-outlined">menu</span></label>
            <div class="menu">
              <li class="nav-list">
                {%block botao_inicio%}
                  <ul><a href="/">Início</a></ul>
                {%endblock%}
                <ul><a href="#servicos">Serviços</a></ul>
                <ul><a href="#contato">Contato</a></ul>
              </li>
              {% block autenticacao_menu %}
                <a id="login" href="login">Entrar</a></ul>
                <a id="cadastro" href="cadastro">Cadastrar-se</a>
              {%endblock%}
            </div>
            {%block mobile%}
            
            {%endblock%}
          </div>    
    </nav>
  </header>

  <main class="conteudo">
    {% with messages = get_flashed_messages(with_categories=True) %}
      {% if messages %}
        <div class="messages">
          {% for category, message in messages %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}

    {% block content %} {% endblock %}
  </main>
 
    <footer> 
      <p>© 2026 OverClock Barbearia. Todos os direitos reservados.</p> 
    </footer>
</body>
</html>