{% extends "base.html" %}
{%block style%}
  <link rel="stylesheet" href="../static/css/login.css">
{%endblock%}
</head>
{%block body%}
<body>
    <div class="login-container">
        <a href="/"><img id="logo" src="../static/images/LOGO.png" alt="Logo-OverClock"></a>
        
        <form action="{{ url_for('login.login') }}" method="POST">
            <div class="input-group">
                <label for="email">E-mail:</label>
                <input type="email" id="email" name="email" required placeholder="seu@email.com">
            </div>

            <div class="input-group">
                <label for="senha">Senha:</label>
                <input type="password" id="senha" name="senha" required placeholder="Sua senha">
            </div>

            <button type="submit" class="btn-login">Entrar</button>
            <div class="mensagens-alerta">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="mensagens-alerta">
                        {% for message in messages %}
                            <p style="color: rgb(0, 255, 55); font-weight: bold; text-align: center;">{{ message }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
            </div>
            <div class="opcoes-login">
                <a href="{{ url_for('login.recuperar_senha') }}" class="link-secundario">Esqueceu a senha?</a>
                <a href="{{ url_for('cadastro.cadastro') }}" class="link-secundario">Faça seu cadastro</a>
             </div>
        </form>
    </div>

</body>
{%endblock%}
</html>