{% extends "base.html" %}
{%block style%}
  <link rel="stylesheet" href="../static/css/login.css">
{%endblock%}
</head>
{%block body%}
<body>
    <div class="login-container">
        <a href="/"><img id="logo" src="../static/images/LOGO.png" alt="Logo-OverClock"></a>
        <div class="titulo-login-admin">
                <h1>Login Administrativo</h1>
        </div>

        <form>
            <div class="input-group">
                <label for="email">E-mail:</label>
                <input type="email" id="email" name="email" required placeholder="seu@email.com">
            </div>

            <div class="input-group">
                <label for="senha">Senha:</label>
                <input type="password" id="senha" name="senha" required placeholder="Sua senha">
            </div>

            <button type="submit" class="btn-login">Entrar</button>
        </form>
    </div>

</body>
{%endblock%}
</html>